build/
DBFilesClient/
global.d.ts
tsconfig.json
Crashes/
logs/
Server.log
DBErrors.log
log.txt
*_backup/
.swcrc

datasets/dataset/dbc/
datasets/dataset/maps/
datasets/dataset/mmaps/
datasets/dataset/vmaps/
datasets/dataset/Buildings/
datasets/dataset/Cameras/
datasets/dataset/luaxml/
datasets/dataset/luaxml_source/

GM.log
datasets/dataset/modules.txt
realms/*/worldserver.conf.dist
realms/*/anticheat*

*.tga

*.png
*.png~

*.noggitproj

*.dll
!deploy/*.dll

*.pdb

datasets/dataset/dataset.conf

deploy/.env
deploy/tmp/*

datasets/dataset/lib/lualib/